-const DESCRIPTION = 'Description text'
-const KEYWORDS = ['TEST', 'TEST']
-const THEME_COLOR = '#FFFFFF'
-const APPLE_STATUS_BAR_STYLE = '#FFFFFF'
-const APPLE_TITLE = '#FFFFFF'
-const COPYRIGHT = 'Copyright text'

meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(name="description", content=`${DESCRIPTION}`)
meta(name="keywords", content=`${KEYWORDS}`)
meta(name="theme-color", content=`${THEME_COLOR}`)
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content=`${APPLE_STATUS_BAR_STYLE}`)
meta(name="apple-mobile-web-app-title", content=`${APPLE_TITLE}`)
meta(name="copyright", content=`${COPYRIGHT}`)
